
:root {
	--color-bg: #212121;
	--color-primary: rgb(42, 42, 42);
	--color-primary-dark: #272727;
	--color-primary-accent: #e53935;

	--color-secondary: #e53935; 
	--color-secondary-light: #ff6d60;
	--color-secondary-dark: #ab000e;
}


body {
	margin: 0 auto;
	background-color: var(--color-bg);
	font-family: 'Roboto', sans-serif;
	color: #dbdbdb;

	padding-bottom: 50px;

	
}

#navBar {
	background-color: var(--color-bg);
	z-index: 0;
	
	height: 60px;
	text-align: right;
}

#btnCtnr {
	background-color: var(--color-bg);

	width: 25%;

	height: inherit;
	text-align: center;

	display: inline-block;

}

.navButton {

	width: 30%;
	height: 60px;

	text-align: center;

	display: inline-block;

	line-height: 60px;
	

	background-color: var(--color-primary-dark);

	cursor: pointer;

	z-index: 255;

	user-select: none;
}

.navButton:hover {
	background-color: var(--color-primary-accent);
}

.btnActive {
	background-color: var(--color-secondary);
}


header {
	padding-top: 80px;
	padding-bottom: 60px;
	background-color: var(--color-primary-accent);
	text-align: center;

	user-select: none;

}

h1 {
	margin: 0 auto;
	padding-bottom: 30px;

	font-size: 40pt;
}

h2 {
	color: var(--color-secondary);


	border-style: solid;
	border-width: 0px 0px 0px 5px;

	padding-left: 0.5em;
}

header p {
	text-align: center;

}

.section {
	
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
}

#socialBtn {
	width: 30px;
	height: 30px;

	padding: 10px;
	user-select: none;

	border-radius: 100px;

	margin-left: 10px;
	margin-right: 10px;

	display: inline-block;

	background-color: var(--color-primary);

	

	cursor: pointer;
}

#socialBtn img {
	width: 30px;
	height: 30px;
}

#projectScroll {
	text-align: center;
}

#project {
    width: 475px;
    height: 200px;


	margin-right: 10px;
	margin-bottom: 10px;

    padding: 15px;

	background-color: var(--color-primary);
	
	white-space: normal;
	
	display: inline-block;
    
}

#project img {
    width: 100px;
    height: 100px;

    padding-right: 10px;

    border-radius: 25%;
	vertical-align: top;
	

}


#projTitle {
    text-align: left;
    font-size: 14pt;
    font-weight: bold;

	padding-left: 0.5em;
	padding-bottom: 5px;
	

    border-left: var(--color-secondary);
    border-style: solid;
	border-width: 0px 0px 5px 0px;
	border-bottom-color: var(--color-primary-accent);
}

#projImg img {

	width: 100px;
	height: 100px;

	border-radius: 20%;
}

#projDesc {
	text-align: left;
}


#mainIcons {
	width: 100%;
	height: inherit;

	margin-top: 30px;

	text-align: center;
}

.icon {
	width: 175px;
	height: inherit;
	max-height: 200px;

	background-color: rgb(42, 42, 42);


	text-align: center;


	margin-right: 10px;
	margin-left: 10px;

	padding: 20px;

	

	vertical-align: top;
	user-select: none;

	display: inline-block;

	box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	border-radius: 10px;

}

.icon img {
	height: 100px;

	filter: invert(26%) sepia(61%) saturate(5173%) hue-rotate(349deg) brightness(99%) contrast(82%);
}

#textArea {
	display: table;
	height: 50px;
	width: inherit;

}

.icon p {

	
	padding-top: 10px;

	font-weight: bold;

	display: table-cell;

	font-size: 10pt;

	vertical-align: middle; 
	text-align: center; 
	
}