
:root {
	--color-bg: #212121;
	--color-primary: rgb(42, 42, 42);
	--color-primary-dark: #272727;
	--color-primary-accent: #e53935;

	--color-secondary: #e53935; 
	--color-secondary-light: #ff6d60;
	--color-secondary-dark: #ab000e;
}


body {
	margin: 0 auto;
	background-color: var(--color-bg);
	font-family: 'Roboto', sans-serif;
	color: #dbdbdb;

}


header {
	padding-top: 60px;
	padding-bottom: 60px;

	margin-top: 60px;
	margin-bottom: 60px;

	background-color: var(--color-primary-accent);
	text-align: center;

	user-select: none;
}


#mainIcons {
	width: 100%;
	height: inherit;
	text-align: center;

	margin-bottom: 60px;
}


h1 {
	margin: 0 auto;
	padding-bottom: 30px;

	font-size: 40pt;
}

h2 {
	color: var(--color-secondary);

	border-style: solid;
	border-width: 0 0 0 5px;

	padding-left: 0.5em;
}

#linkToGitHub {
	float: right; 
	font-size: 10pt;
}



a:link {
	color: white;
	text-underline-offset: 5px;
}

a:visited { color: white; }
a:hover   { color: var(--color-secondary-light); }
a:active  { color: var(--color-primary-accent); }

.section {
	margin-bottom: 50px;
	margin-left: 15%;
	margin-right: 15%;
}

#socialBtn {
	width: 30px;
	height: 30px;

	padding: 10px;
	user-select: none;

	border-radius: 100px;

	margin-left: 10px;
	margin-right: 10px;

	display: inline-block;

	background-color: var(--color-primary);

	cursor: pointer;
	
	line-height: 24px;
}

#socialBtn img {
	width: 30px;
	height: 30px;
	float: left;
}


#project {
    width: 475px;
    
	margin-right: 10px;
	margin-bottom: 10px;

    padding: 15px;

	background-color: var(--color-primary);
	
	display: inline-block;

	border-radius: 10px;
}

#projTitle {
    text-align: left;
    font-size: 12pt;
    font-weight: bold;
	
	padding-bottom: 5px;
	
    border-left: var(--color-secondary);
    border-style: solid;
	border-width: 0 0 5px 0;
	border-bottom-color: var(--color-primary-accent);
}

/* Java; Kotlin; Shell; etc */
#miscInfo {
	font-size: 8pt;
	display: block;
	color: gray;
	display: inline-block;
	margin: 0;
}

#projImg {
	/* provides a dark background for transparent icons */

	width: 100px;
	height: 100px;
	border-radius: 10%;
	background-color: var(--color-primary-dark);
}


#projImg img {

	width: 100px;
	height: 100px;

	border-radius: 20%;
	
	vertical-align: top;
	
	overflow: hidden;

	object-fit: contain;
}

#projDesc {
	padding-left: 15px;
	padding-right: 10px;
	line-height: 150%;
}


.icon {
	width: 175px;
	height: 175px;
	max-height: 200px;

	background-color: rgb(42, 42, 42);


	text-align: center;


	margin-right: 10px;
	margin-left: 10px;

	padding: 20px;


	vertical-align: top;
	user-select: none;

	display: inline-block;

	box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	border-radius: 10px;
}

.icon img {
	height: 100px;

	filter: invert(26%) sepia(61%) saturate(5173%) hue-rotate(349deg) brightness(99%) contrast(82%);

	user-select: none;
}

#textArea {
	display: table;
	height: 50px;
	width: inherit;
}

.icon p {

	padding-top: 10px;

	font-weight: bold;

	display: table-cell;

	font-size: 10pt;

	vertical-align: middle; 
	text-align: center; 
	
}


