.icon {
    width: 175px;
    height: 175px;
    max-height: 200px;
    background-color: #2a2a2a;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
    vertical-align: middle;
    user-select: none;
    display: inline-block;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    border-radius: 10px
}


.icon img {
    height: 100px;
    filter: invert(26%) sepia(61%) saturate(5173%) hue-rotate(349deg) brightness(99%) contrast(82%);
    user-select: none
}

#textArea {
    display: table;
    height: 50px;
    width: inherit
}

.icon p {
    padding-top: 10px;
    font-weight: 700;
    display: table-cell;
    font-size: 10pt;
    vertical-align: middle;
    text-align: center
}
