body {
  background-color: #212121;
}

.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.check-button {
  background-color: red;
  border-radius: 50px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  user-select: none;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  white-space: nowrap;
  width: 125px;
  display: inline-block;
  min-height: 1em;
  font-weight: bold;
  font-size: 15pt;
}


#CheckbuttonContainer {
  background-color: darkslategrey;
  text-align: center;

  padding-top: 2vh;
  padding-bottom: 2vh;
}

#ProjectContainer {
  padding-top: 28px;
  text-align: center;
}


